In [ ]:
for i in range(1,60):
  if(i%20 == 0): print()
  if(i%3 == 0 and i%5 == 0): 
    print("FizzBuzz", end=" ")
  elif(i%3 == 0):
    print("Fizz", end=" ")
  elif(i%5 == 0):
    print("Buzz", end= " ")
  else: print(i, end=" ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19
Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz
Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59

In [ ]:
year = int(input("Enter leap years: "))
if (year % 400 == 0): 
  print(year, "-> true")
elif (year % 400 != 0 and year % 100 != 0):
  if(year % 4 == 0): 
    print(year, "-> true")
  else: print(year,"-> false")

Enter leap years: 2012
2012 -> true

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\r")

Enter number of rows: 4
*
* *
* * *
* * * *

In [ ]:
rows = int(input("Enter number of rows: "))
x = 2*rows - 2
for i in range(0, rows):
  for j in range(0, x):
    print(end= " ")
  x = x - 2
  for j in range(0, i+1):
    print("*", end=" ")
  print("\r")

Enter number of rows: 4
      *
    * *
  * * *
* * * *

In [ ]:
rows = int(input("Enter number of rows: "))

k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

Enter number of rows: 4
      *
     * *
    * * *
   * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=int(input("Enter the number till you want to check: "))
primes = []
for i in range (2, n+1):
    for j in range(2, i):
        if i%j == 0:
            break
    else:
        primes.append(i)
print(n, "->", primes)

Enter the number till you want to check: 20
20 -> [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
rows = int(input("Enter number of rows: "))

i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

Enter number of rows: 3
    *
  *   *
*       *

In [ ]:
n = int(input('Enter the value of n: '))

for i in range(1,2*n):
    for j in range(1,2*n):
        if i==j or i+j==2*n:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter the value of n: 4
*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print("A", end='')
    print("+", end='')
    for l in range(i):
        if l==i-1: 
          print('E'*(2*l+1), end='')
          print('+', end='')
    for k in range(i + 1, rows):
        print("B", end='')
    print('\n')

for i in range(1,rows):
  for j in range(i):
    print('C', end='')
  print('+', end='')
  for l in range(rows-1,i,-1):
    print('E', end='')
    # if l==0: print("+", end='')
  for l in range(i+1,rows):
    if l != rows-1:
        print('E', end='')
    if l == rows-1: 
        print('+', end='')
  for k in range(i):
    print('D', end='')
  print('\n')

Enter number of rows: 7
AAAAAA+BBBBBB

AAAAA+E+BBBBB

AAAA+EEE+BBBB

AAA+EEEEE+BBB

AA+EEEEEEE+BB

A+EEEEEEEEE+B

+EEEEEEEEEEE+

C+EEEEEEEEE+D

CC+EEEEEEE+DD

CCC+EEEEE+DDD

CCCC+EEE+DDDD

CCCCC+E+DDDDD

CCCCCC+DDDDDD